<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="./platform/src/libs/p5.js"></script>
    <script src="./platform/src/libs/socket.io-3.0.5.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./platform/src/style/style.css">
</head>

<body>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.138.0/build/three.module.js"
            }
        }
    </script>
    <script type="module" src="./platform/socket.js"></script>
    <script src="./platform/main.js"></script>
</body>

</html>
