<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="./platform/src/libs/p5.js"></script>
    <script src="./platform/src/libs/projection.js"></script>
    <!-- <script src="./platform/src/libs/kalidokit.umd.js"></script> -->
    <script src="./platform/src/libs/socket.io-3.0.5.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./platform/src/style/style.css">
    <!-- <script src="https://unpkg.com/three@0.133.0/build/three.js"></script> -->
    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.133.0/build/three.module.js"
        }
    }
    </script>
    <link rel="shortcut icon" href="#">

</head>

<body>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.1/math.js"></script> -->
    <script src="/gosai/pool/platform/src/libs/math.js"></script>
    <script type="module" src="./platform/socket.js"></script>
    <script src="./platform/main.js"></script>
</body>

</html>
