<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <script src="./platform/src/libs/socket.io-3.0.5.js"></script>
    <!-- <script src="./platform/src/libs/p5.js"></script> -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./dashboard/src/style/style.css">
</head>

<body>
    <script src="./dashboard/src/scripts/main.js"></script>
    <script src="./dashboard/src/scripts/socket.js"></script>
    <p id="title">GOSAI Dashboard</p>
    <div id="main">
        <div id="console">
            <p id="console-output"></p>
            <div id="console-command">
                <input id="console-input" placeholder="Input your command here" onkeydown="key_action(event)"></input>
                <button id="console-submit" onclick="send_command()">Submit</button>
            </div>
        </div>
        <div id="info">
            <div id="clients" class="info-tab">
                <p class="info-title">Clients</p>
                <div id="clients-stats" class="info-stats">
                    <p class="info-subtitle">Connected clients: <span id="clients-stats-connected">0</span></p>
                    <table>
                        <thead>
                            <tr>
                                <th>sid</th>
                                <th>ip</th>
                                <th>source</th>
                                <th>connected at</th>
                            </tr>
                        </thead>
                        <tbody id="clients-table-body">
                        </tbody>
                    </table>

                </div>
            </div>
            <div id="applications" class="info-tab">
                <p class="info-title">Applications</p>
                <div id="applications-stats" class="info-stats">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p>Available applications: <span id="applications-stats-available">0</span></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="available-applications-table-body">
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p>Stopped applications: <span id="applications-stats-stopped">0</span></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="stopped-applications-table-body">
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p>Started applications: <span id="applications-stats-started">0</span></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="started-applications-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="drivers" class="info-tab">
                <p class="info-title">Drivers</p>
                <div id="drivers-stats" class="info-stats">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p>Available drivers: <span id="drivers-stats-available">0</span></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="available-drivers-table-body">
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p>Stopped drivers: <span id="drivers-stats-stopped">0</span></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="stopped-drivers-table-body">
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <p>Started drivers: <span id="drivers-stats-started">0</span></p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="started-drivers-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
