<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <script src="./platform/src/libs/socket.io-4.7.2.js"></script>
    <script src="./dashboard/src/libs/chart.min.js"></script>

    <!-- <script src="./platform/src/libs/p5.js"></script> -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./dashboard/src/style/style.css">
</head>

<body>
    <p id="title">GOSAI Dashboard</p>
    <div id="main">
        <div id="console">
            <p id="console-output"></p>
            <div id="console-command">
                <input id="console-input" placeholder="Input your command here" onkeydown="key_action(event)"></input>
                <button id="console-submit" onclick="send_command()">Submit</button>
            </div>
        </div>
        <div id="info">
            <div id="clients" class="info-tab">
                <p class="info-title">Clients</p>
                <div id="clients-stats" class="info-stats">
                    <p class="info-subtitle">Connected clients: <span id="clients-stats-connected">0</span></p>
                    <table>
                        <thead>
                            <tr>
                                <th>sid</th>
                                <th>ip</th>
                                <th>source</th>
                                <th>connected at</th>
                            </tr>
                        </thead>
                        <tbody id="clients-table-body">
                        </tbody>
                    </table>

                </div>
            </div>
            <div id="applications-drivers" class="info-tab">
                <p class="info-title">Applications & Drivers</p>
                <div id="applications-drivers-stats">
                    <div id="applications-stats" class="info-stats">
                        <!-- <p class="info-subtitle">Available applications: <span id="applications-stats-available">0</span></p>
                        <p class="info-subtitle">Stopped applications: <span id="applications-stats-stopped">0</span></p>
                        <p class="info-subtitle">Started applications: <span id="applications-stats-started">0</span></p> -->

                        <table>
                            <thead>
                                <tr>
                                    <th colspan="2">Applications</th>
                                </tr>
                                <tr>
                                    <th>name</th>
                                    <th>status</th>
                                </tr>
                            </thead>
                            <tbody id="applications-table-body">
                            </tbody>
                        </table>
                    </div>
                    <div id="drivers-stats" class="info-stats">
                        <!-- <p class="info-subtitle">Available drivers: <span id="drivers-stats-available">0</span></p>
                        <p class="info-subtitle">Stopped drivers: <span id="drivers-stats-stopped">0</span></p>
                        <p class="info-subtitle">Started drivers: <span id="drivers-stats-started">0</span></p> -->

                        <table>
                            <thead>
                                <tr>
                                <tr>
                                    <th colspan="3">Drivers</th>
                                </tr>
                                <tr>
                                    <th>name</th>
                                    <th>status</th>
                                    <th>registered entities</th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody id="drivers-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="performances-stats">
                <p class="info-title">Front Framerates</p>
                <canvas id="fps-display-chart" height="300px"></canvas>
            </div>
        </div>
    </div>
    <div id="info-next">
        <div id="apps-looptime-stats">
            <p class="info-title">Applications loop-time</p>
            <canvas id="apps-looptime-chart" height="400px"></canvas>
        </div>
        <div id="drivers-looptime-stats">
            <p class="info-title">Drivers loop-time</p>
            <canvas id="drivers-looptime-chart" height="400px"></canvas>
        </div>
        <div id="drivers-not-looptime-stats">
            <p class="info-title">Drivers action exection time</p>
            <canvas id="drivers-not-looptime-chart" height="400px"></canvas>
        </div>
    </div>
    <script src="./dashboard/src/scripts/main.js"></script>
    <script src="./dashboard/src/scripts/charts.js"></script>
    <script src="./dashboard/src/scripts/socket.js"></script>
</body>

</html>
