@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

head, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: rgb(54, 54, 54);
}

#title {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 1rem;
}

#main {

    width: 100%;
    height: calc(100vh - 3rem);
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media all and (max-width:1024px) {
    #main {
        height: max-content;
        flex-direction: column;
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}

#console {
    width: 50%;
    height: calc(100vh - 6rem);
    padding: 1rem;
}


@media all and (max-width:1024px) {
    #console {
        width: 100%;
    }
}

#console-output {
    width: calc(100% - 1rem);
    height: calc(100% - 4rem);
    margin: 0 0 0.5rem 0;
    padding: 0.5rem;
    background-color: rgb(70, 70, 70);
    overflow: auto;
}

.level-info {
    color: #95fff1;
}

.level-warning {
    color: #ffd700;
}

.level-error {
    color: #ff0000;
}

#console-command {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#console-input {
    width: calc(100% - 8rem);
    height: 100%;
    padding-left: 0.5rem;
    background-color: rgb(70, 70, 70);
    color: #fff;
    border: none;
}


#console-input::placeholder {
    color: rgba(255, 255, 255, 0.795);
}

#console-submit {
    width: 6rem;
    height: 100%;
    background-color: rgb(70, 70, 70);
    color: #fff;
    border: solid;
}

#info {
    width: 50%;
    height: calc(100vh - 6rem);
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

@media all and (max-width:1024px) {
    #info {
        width: 100%;
    }
}

.info-title {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0 0.5rem 0;
    text-align: center;
}

.info-subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.info-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#clients-stats {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

#applications-drivers-stats {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

#applications-stats {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#drivers-stats {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.started{
    color: #68ff81;
}

.stopped{
    color: #ff0000;
}

table {
    background-color: rgb(70, 70, 70);
}

table > thead > tr {
    border-collapse: collapse;
}

table > thead > tr > th {
    width: 25%;
    border-collapse: collapse;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    font-weight: 300;
}

table > thead > tr > th > p{
    margin: 0.1rem 0.3rem;
}

table > tbody > tr > td {
    text-align: center;
    height: 1.2rem;
}

/* #clients-table-header-sid {
    width: 25%;
} */

#fps-display-chart{
    width: 100%;
}

#info-next {
    padding: 1rem;
    margin-bottom: 2rem;
}

#apps-looptime-stats{
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}

#apps-looptime-chart{
    width: 100%;
}

#drivers-looptime-stats{
    width: 100%;
    height: 450px;
}

#drivers-looptime-chart{
    width: 100%;
}

#drivers-not-looptime-stats{
    width: 100%;
    height: 450px;
}

#drivers-not-looptime-chart{
    width: 100%;
}
