html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
button {
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout : none;
  -moz-user-select: none;
  -o-user-select: none; */
  user-select: none
}