html, body {
  margin: 0 !important;
  padding: 0 !important;
}
canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
button {
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout : none;
  -moz-user-select: none;
  -o-user-select: none; */
  user-select: none
}
